<style>
div.a {text-align:center;font-size: 25px;padding-top: 15px;line-height: 10%;}
div.b {text-align:center;font-size: 15px;line-height: 10%;}
p {text-align:center;line-height: 100%;}
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>關於</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="a">
Hong Kong Toilet
</div><br>
<div class="b">
  By Jason
</div><br>
<p>Version: 0.0.9a<br>
Ionic Version: 4.12.0<br>
Angular Version: 7.3.8</p>
</ion-content>
