<style>
div.a {text-align:center;font-size: 25px;padding-top: 15px;line-height: 10%;}
div.b {text-align:center;font-size: 15px;}
p {position: absolute;text-align:center;bottom: 0;width: 100%;}
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/home" color="#FFFFFF">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{about}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="a">
香港廁所
Hong Kong Toilet
</div><br>
<div class="b">
  By Jason<br>
Version: 1.0.0(Release)</div>
<p><ion-icon name="jet"></ion-icon>Ionic Version: 4.12.0<br>
<ion-icon name="logo-angular"></ion-icon>Angular Version: 7.3.8</p>
</ion-content>
