<ion-header>
  <ion-toolbar>
    <ion-title>
      <font size='5'>香港廁所</font><br>
      <font size='2' color='#ededed'>By Jason</font>
    </ion-title>
    <ion-button slot="end" routerLink="/about">
      關於
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item text-wrap *ngFor="let item of items, let i= index" (click)="viewItem(i)">
      <ion-label>
        <ion-icon float-right name="arrow-forward" size="large" top="0px"></ion-icon>
        <b>{{item.name}}</b><br>
        <h5><font color='#dd7777'>{{item.address}}</font></h5>
        距離:<b>{{item.distance}}</b>米
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
